<?xml version="1.0" encoding="UTF-8"?>
<plugin format="2.0" className = "org.modelsphere.sms.plugins.java.genmeta.DbForwardEngineeringPlugin">
	<author>Grandite</author>
	<authorEmail>${email}</authorEmail>
	<authorURL>${url}</authorURL>
	<date>09-21-2009</date>
	<description>${description}</description>
	<image>${image}</image>
	<jar>lib/plugin.jar</jar>
	<license>${license}</license>
	<name>${name}</name>
	<requiredBuild>950</requiredBuild>
	<resourceBundle>locale</resourceBundle>
	<type>org.modelsphere.jack.plugins.Plugin2</type>
	<version>3.1.0</version>
	
	<extension className="org.modelsphere.jack.plugins.xml.extensions.PopupExtension">
		<actionIcon>${image}</actionIcon>
		<actionLabel>${actionLabel}</actionLabel>
		<metaClasses>org.modelsphere.sms.oo.java.db.DbJVPackage</metaClasses>
		<popupSubmenu>${submenu}</popupSubmenu>
	</extension>  
	
</plugin>